$break-mobile: 700px;
$break-ultra: 2200px;

$width-mobile: 90%;
$width-desktop: 900px;
$width-ultra: 1500px;

$body-text-mobile: 1rem;
$body-text-desktop: 1.2rem;
$body-text-ultra: 1.5rem;

$heading-text: 1.5rem;
$heading-text-ultra: 2rem;

$nav-text-mobile: 1.2rem;
$nav-text-desktop: 1.6rem;
$nav-text-ultra: 2rem;

$title-text-mobile: 2rem;
$title-text-desktop: 2rem;
$title-text-ultra: 3rem;