@import "mediaBreaks.scss";
@import "colors.scss";

.project {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  max-width: $width-desktop - 100;
  text-align: center;
  margin: 40px auto;
  padding: 10px;

  @media screen and (min-width: $break-ultra) {
    max-width: $width-ultra;
  }
}

.projectIntro {
  margin: auto;

  h1 {
    margin: 10px;
  }

  p {
    font-size: $body-text-desktop;
    margin: 10px;

    @media screen and (max-width: $break-mobile) {
      font-size: $body-text-mobile;
    }

    @media screen and (min-width: $break-ultra) {
      font-size: $body-text-ultra;
    }
  }

  button {
    font-size: $body-text-desktop;
    border: 2px solid $color-light;
    background-color: white;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    @media screen and (max-width: $break-mobile) {
      font-size: $body-text-mobile;
    }

    @media screen and (min-width: $break-ultra) {
      font-size: $body-text-ultra;
    }

    &:hover {
      background-color: $color-light;
    }

    &:focus {
      outline: none;
    }
  }
}

.projectContent {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 500ms;
}

.textProject {
  font-size: $body-text-desktop;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;

  @media screen and (max-width: $break-mobile) {
    font-size: $body-text-mobile;
  }

  @media screen and (min-width: $break-ultra) {
    font-size: $body-text-ultra;
  }
}

.tools {
  font-size: $body-text-mobile;
  padding-bottom: 25px;

  @media screen and (max-width: $break-mobile) {
    font-size: $body-text-mobile;
  }

  @media screen and (min-width: $break-ultra) {
    font-size: $body-text-ultra;
  }

  p {
    display: inline-block;
    border: 1px solid $color-light;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.carouselContainer {
  position: relative;
  height: 550px;
  width: 100%;
}

.pictureContainer {
  position: relative;
  height: 550px;
  width: 100%;
}

.pictureDesciption {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;

  img {
    max-height: 500px;
    max-width: 95%;
    border: 1px solid gray;
    border-radius: 10px;
  }

  p {
    margin: 10px auto;
    max-width: 90%;
    font-size: 1rem;

    @media screen and (max-width: $break-mobile) {
      font-size: 0.8rem;
    }

    @media screen and (min-width: $break-ultra) {
      font-size: 1.2rem;
    }
  }
}

@mixin carouselButton() {
  position: absolute;
  width: 50px;
  height: 300px;
  font-size: xx-large;
  color: lightgray;
  top: 50%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}

.carouselBack {
  @include carouselButton();
  left: 0%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  :hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.carouselNext {
  @include carouselButton();
  left: 100%;
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.carouselNext:hover,
.carouselBack:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: gray;
}

.carouselNext:disabled,
.carouselBack:disabled {
  display: none;
}

.carouselDots button {
  width: 10px;
  height: 15px;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.backToTop {
  margin-top: 20px;
  text-decoration: underline;
  color: $color-dark;
  cursor: pointer;
}
